<!doctype html>
<!--resources/views/checkout.twig-->
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Polito's</title>
    <link rel="stylesheet" href="{{ path('/style/css/main.css') }}" type="text/css"/>
</head>
<body>
<header class="container">
    <nav>
        <label for="menu-toggle" id="navlabel"><img src="{{ path("/img/navbar-toggle-dark.svg") }}" alt=""></label>
        <input type="checkbox" id="menu-toggle"/>
        <ul id="menu">
            <li><a href="{{ home }}">HOME</a></li>
            <li><a href="{{ login }}">INLOGGEN</a></li>
            <li class="header_logo"><img src="{{ path("/img/pp_logo_font.svg") }}" alt=""></li>
            <li><a href="{{ menu }}">BESTELLEN</a></li>
            <li><a href="{{ info }}">INFO</a></li>
        </ul>
    </nav>
    <section class="subheader">
        <div></div>
        <div><img id="logo" src="{{ path("/img/pp_logo_font_original.svg") }}" alt=""></div>
        <div></div>
    </section>
</header>
<section id="checkout" class="container-sm content">
    <div class="column offset2 col8">
    <h2>UW BESTELLING</h2>
    <table>
        <tr>
            <th>Naam</th>
            <th>Maat</th>
            <th>Hoeveelheid</th>
            <th>Prijs</th>
        </tr>
        {%  for key, item in orderlines %}
            <tr>
                <td>{{ item.Name }}</td>
                <td>
                    {% if item.Size != 'N' %}
                        {{ item.size }}
                    {% else %} /
                    {% endif %}</td>
                <td>{{ item.Quantity }}</td>
                <td>{{ item.Price }}</td>
            </tr>
        {% endfor %}
        {% if discount > 0 %}
        <tr class="discount">
            <td colspan="3">Korting: </td>
            <td>{{ discount }}%</td>
        </tr>
        {% endif %}
        {% if deliverable %}
            {% if delivery == 0 %}
                <tr class="delivery">
                    <td colspan="3">Leverkosten {{ town }}: </td>
                    <td>Gratis levering</td>
                </tr>
            {% else %}
                <tr class="delivery">
                    <td colspan="3">Leverkosten {{ town }}: </td>
                    <td>€ {{ delivery }}</td>
                </tr>
            {% endif %}
        {% else %}
            <tr class="delivery">
                <td class="delivery" colspan="4">Enkel afhalen mogelijk</td>
            </tr>
        {% endif %}

        <tr class="total">
            <td colspan="3">Totaal: </td>
            <td>€{{ totPrice }}</td>
        </tr>
    </table><br/>

    <table>
        <tr>
            <th>Leveringsdetails:</th>
        </tr>
        <tr><td>{{ firstName }} {{ famName }}</td></tr>
        <tr><td>{{ adres }}</td></tr>
        <tr><td>{{ postCode }} {{ town }}</td></tr>

    </table><br/>

        <div id="buttons">
            <form action="{{ menu }}" method="GET">
                <input type="submit" value="BEWERKEN">
            </form><br/>

            <form action="{{ checkout }}" method="POST">
                <input type="submit" value="BESTELLING PLAATSEN">
            </form>
        </div>

    </div>
</section>

<section class="container footer">
    <footer class="footer">
        <p>&#169; Dries Hooghe - Dit is een oefening voor de VDAB opleiding 'PHP Ontwikkelaar'</p>
    </footer>
</section>


</body>
</html>
