<!doctype html>
<!--resources/views/employeepage.twig-->
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Polito's</title>
    <link rel="stylesheet" href="{{ path('/public/css/main.css') }}" type="text/css"/>
</head>
<body>
<header>
    <a href="{{ home }}"><img id="header_logo" src="{{ path("/img/pp_logo_font.svg") }}"></a>
</header>
    <h1>Overzicht bestellingen</h1>
    {% for order in orders %}
        <h3>{{ order.Id }}:</h3>
        <h5>{{ order.time }}</h5>







    {% endfor %}

</body>
</html>

