<!doctype html>
<!--resources/views/employeepage.twig-->
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Polito's</title>
    <link rel="stylesheet" href="{{ path('/public/css/main.css') }}" type="text/css"/>
</head>
<body>
<header>
    <a href="{{ home }}"><img id="header_logo" src="{{ path('/public/style/css/main.css') }}"></a>
</header>
    <h1>Overzicht bestellingen</h1>
    {% for order in orders %}
        <div>
            <h3>&#x1F355;{{ order.id }} &#9658; {{ order.time }}</h3>
            <div>
                <h4>Klantgegevens:</h4>
                <p>{{ order.customer.firstName }} {{ order.customer.famName }}</p>
                <p>{{ order.customer.adres }}</p>
                <p>{{ order.customer.postcode }} {{ order.customer.town }}</p>
                {% if order.customer.phoneNr > 0 %}<p>&#128222;{{ order.customer.phoneNr }}</p>{% endif %}
                {% if order.customer.mobileNr > 0 %}<p>&#x1f4f1;{{ order.customer.mobileNr }}</p>{% endif %}
            </div>

            <div>
                <table>
                    <tr>
                        <th>Naam</th><th>Maat</th><th>Hoeveelheid</th><th>Prijs</th>
                    </tr>
                    {%  set sum = 0 %}

                        {% for orderline in order.Orderlines %}
                        <tr>
                            <td>{{ orderline.name }}</td><td>{{ orderline.size }}</td><td>{{ orderline.quantity }}</td><td>{{ orderline.price }}</td>
                            {% set sum = sum + orderline.price %}
                        </tr>
                        {% endfor %}

                    {% set total = sum + order.customer.DeliveryPrice - order.discount %}
                    {% if order.discount > 0 %}
                        <tr><td colspan="3">Korting:</td><td>{{ order.discount }}</td></tr>
                    {% endif %}
                    {% if order.customer.DeliveryPrice > 0 %}
                        <tr><td colspan="3">Leveringskosten:</td><td>{{ order.customer.DeliveryPrice }}</td></tr>
                    {% endif %}
                    <tr><td colspan="3">Totaal:</td><td>{{ total }}</td></tr>

                </table>
            </div>
        </div>
    {% endfor %}

</body>
</html>

