<!doctype html>
<!--resources/views/index.twig-->
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Polito's</title>
    <link rel="icon" type="image/svg" href="{{ path("/img/favicon.svg") }}" >
    <link rel="stylesheet" href="{{ path('/public/style/css/main.css') }}" type="text/css"/>
</head>
    <body>
        <header class="container">
            <nav>
                <label for="menu-toggle" id="navlabel"><img src="{{ path("/img/navbar-toggle-dark.svg") }}" alt=""></label>
                <input type="checkbox" id="menu-toggle"/>
                <ul id="menu">
                    <li class="active"><a class="active" href="{{ home }}">HOME</a></li>
                    <li><a href="{{ login }}">INLOGGEN</a></li>
                    <li class="header_logo"><img src="{{ path("/img/pp_logo_font.svg") }}" alt=""></li>
                    <li><a href="{{ menu }}">BESTELLEN</a></li>
                    <li><a href="{{ info }}">INFO</a></li>
                </ul>
            </nav>
            <section class="subheader">
                <div><h4><a href="{{ login }}">{{  loginValue }}</a></h4></div>
                <div><img id="logo" src="{{ path("/img/pp_logo_font_original.svg") }}" alt=""></div>
                <div><img id="status" src="{{ path("/img/status/" ~ status ~ ".png") }}" /></div>
            </section>
        </header>

        {% if placedorder %}
            <div id="thanks"><h3>{{ placedorder }}</h3></div>
        {%  endif %}

        <section id="promo" class="container content">
            <div class="column">
                <img src="{{ path('/img/promo/' ~ promo ~ '.png') }}">
            </div>
        </section>

        <section id="welcome" class="container-sm content">
            <article class="column">
                <h1>WELKOM</h1>
                <p>Polito's Pizza is een bezorgrestaurant voor Italiaanse gerechten, gelegen in Deerlijk.</p>
                <p>Wij bieden een zeer grote keuze aan pasta's en pizza's die met de grootste zorg en dagvers bereid worden.<br>
                    Daarnaast hebben we ook een aantal verschillende aardappel- en visspecialiteiten (scampi's) en vleesgerechten met friet.<br>
                    Het spreekt voor zich dat ook vegetariërs aan hun trekken komen bij Pepe's!<br>
                    Indien gewenst kunt uw bestelling opeten bij ons of laten leveren aan huis.</p>
                <p>Aarzel niet om uw bestelling telefonisch door te geven op het nummer (056)45.99.XX,<br>
                    binnen de 15 minuten maken wij uw bestelling klaar.</p>

                <div id="order">
                    <a href="{{ menu }}">BESTELLEN</a>
                </div>
            </article>
        </section><br/>




        <section id="order" class="container footer">
                <footer class="footer">
                    <p>&#169; Dries Hooghe</p>
                </footer>
        </section>

    </body>
</html>

