<!doctype html>
<!--resources/views/index.twig-->
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Polito's</title>
    <link rel="stylesheet" href="{{ path('/style/css/main.css') }}" type="text/css"/>
</head>
    <body>
    <header class="container">
        <nav>
            <label for="menu-toggle" id="navlabel"><img src="{{ path("/img/navbar-toggle-dark.svg") }}" alt=""></label>
            <input type="checkbox" id="menu-toggle"/>
            <ul id="menu">
                <li><a href="{{ home }}">HOME</a></li>
                <li><a href="{{ login }}">INLOGGEN</a></li>
                <li class="header_logo"><img src="{{ path("/img/pp_logo_font.svg") }}" alt=""></li>
                <li><a href="{{ menu }}">BESTELLEN</a></li>
                <li class="active"><a class="active" href="{{ info }}">INFO</a></li>
            </ul>
        </nav>
        <section class="subheader">
            <div><h4><a href="{{ login }}">{{  loginValue }}</a></h4></div>
            <div><img id="logo" src="{{ path("/img/pp_logo_font_original.svg") }}" alt=""></div>
            <div><img id="status" src="{{ path("/img/status/" ~ status ~ ".svg") }}" /></div>
        </section>
    </header>

    <section class="container-sm content">
        <article class="column col6">
            <h4>WIE ZIJN WIJ:</h4>
            <p>Polito's Pizza is een bezorgrestaurant voor Italiaanse gerechten, gelegen in Deerlijk.</p>
            <p>Wij bieden een zeer uitgebreide keuze aan pasta's en pizza's die met de grootste zorg en dagvers bereid worden.<br>
                Het spreekt voor zich dat ook vegetariërs aan hun trekken komen bij Polito's!<br>
                Indien gewenst kunt u uw bestelling afhalen of laten leveren aan huis.</p>

            <p>Op maandag, dinsdag en vrijdag biedt Polito's u de meest waanzinnige promoties!<br/>
                Maar ook op andere dagen kan u genieten van kwaliteitsvolle gerechten aan bijzonder democratische prijzen.</p>

            <p>Aarzel niet om online uw bestelling te plaatsen of deze telefonisch door te geven op het nummer (056)45.99.XX.<br>
                Binnen de 20 minuten maken wij uw bestelling klaar.</p>
        </article>

        <article class="column offset1 col5">
            <h4>OPENINGSUREN:</h4>
            <h6>We zijn {{ status2 }}</h6>
            <ul>
                <li>MA gesloten</li>
                <li>DI &#x1F550; 17:00-23:00</li>
                <li>WO &#x1F550; 17:00-23:00</li>
                <li>DO &#x1F550; 17:00-23:00</li>
                <li>VR &#x1F550; 17:00-23:30</li>
                <li>ZA &#x1F550; 11:00-23:30</li>
                <li>ZO &#x1F550; 11:00-23:30</li>
            </ul>
        </article>
    </section>

    <section class="container footer">
        <footer class="footer">
            <p>&#169; Dries Hooghe - Dit is een oefening voor de VDAB opleiding 'PHP Ontwikkelaar'</p>
        </footer>
    </section>

    </body>
</html>

