<!doctype html>
<!--resources/views/index.twig-->
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Polito's</title>
    <link rel="stylesheet" href="{{ path('/public/style/css/main.css') }}" type="text/css"/>
</head>
    <body>
        <header class="container">
                <label for="menu-toggle" id="navlabel"><img src="{{ path("/img/navbar-toggle-dark.svg") }}" alt=""></label>
                <input type="checkbox" id="menu-toggle"/>
                <ul id="menu">
                    <li class="active"><a class="active" href="{{ home }}">HOME</a></li>
                    <li><a href="{{ login }}">INLOGGEN</a></li>
                    <li class="header_logo"><img src="{{ path("/img/pp_logo_font.svg") }}" alt=""></li>
                    <li><a href="{{ menu }}">BESTELLEN</a></li>
                    <li><a href="{{ info }}">WIE ZIJN WIJ</a></li>
                </ul>
        </header>


        <section class="container-sm content">
            Polito's Pizza is een bezorgrestaurant in Deerlijk.
        </section>

        <section class="container footer">
                <footer class="footer">
                    <p>&#169; Dries Hooghe</p>
                </footer>
        </section>

    </body>
</html>

