<!doctype html>
<!--resources/views/login.twig-->
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Polito's</title>
    <link rel="stylesheet" href="{{ path('/public/style/css/main.css') }}" type="text/css"/>

</head>
<body>
<a href="{{ home }}"><img src="{{ path("/img/pp_logo_font.svg") }}"></a>
<div>
    <h3>Ik heb een account:</h3>
    {% if wrongPwd is not empty and wrongPwd %}
        <p>U gaf een verkeerde gebruikersnaam of wachtwoord, probeer opnieuw</p>
    {% endif %}
    <form action="{{ login }}" method="POST">
        Email: <input type="text" name="email" value="{{ custEmail }}" required="required"><br/><br/>
        Password: <input type="password" name="pwd" required="required"><br/><br/>
        <input type="submit" value="Login">
    </form>
</div>
<div>
    <h3>Ik heb geen account:</h3>
    <form action="{{ register }}" method="GET">
        <input type="submit" value="Registreer">
    </form>
</div>
</body>
</html>