<!doctype html>
<!--resources/views/menu.twig-->
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Polito's</title>
    <link rel="stylesheet" href="{{ path('/public/style/css/main.css') }}" type="text/css"/>

</head>
<body>
<header class="container">
    <nav>
        <label for="menu-toggle" id="navlabel"><img src="{{ path("/img/navbar-toggle-dark.svg") }}" alt=""></label>
        <input type="checkbox" id="menu-toggle"/>
        <ul id="menu">
            <li><a href="{{ home }}">HOME</a></li>
            <li><a href="{{ login }}">INLOGGEN</a></li>
            <li class="header_logo"><img src="{{ path("/img/pp_logo_font.svg") }}" alt=""></li>
            <li class="active"><a class="active" href="{{ menu }}">BESTELLEN</a></li>
            <li><a href="{{ info }}">INFO</a></li>
        </ul>
    </nav>
    <section class="subheader">
        <div><h4><a href="{{ login }}">{{  loginValue }}</a></h4></div>
        <div></div>
        <div><img src="{{ path("/img/" ~ status ~ ".svg") }}" /></div>
    </section>
</header>

<section id="menu" class="container-sm content">
    <div id="dishes" class="column col7">

        <table class="foodblock">
            <tr><h1>VOORGERECHTEN</h1></tr>
            {% for item in entrees %}
                <tr class="dish">
                    <td class="name">{{ item.Name }}</td>
                </tr>
                <tr class="dish">
                    <td>{{ item.Desc }}</td>
                    <td rowspan="2">
                        <form action="{{ menu }}" method="GET">
                            <input type="hidden" name="id" value="{{ item.Id }}">
                            Aantal: <input type="number" name="quantity" value="Aantal" min=0>
                            <input type="submit" value="+">
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>Prijs: €{{ item.Price }}</td>
                </tr>

                </tr>
            {%  endfor %}
        </table>

        <div class="foodblock">
            <h1>PIZZA'S</h1>
            {% for item in pizza %}
                <div class="dish">
                    <h5>{{ item.Name }}</h5>
                        <p>{{ item.Desc }}</p>
                        <p>Prijs: €{{ item.Price }}</p>
                    <form action="{{ menu }}" method="GET">
                        <input type="hidden" name="id" value="{{ item.Id }}">
                        <select name="sizeId">
                            <option value="2">Small</option>
                            <option value="3">Medium</option>
                            <option value="4">Large</option>
                        </select>
                        Aantal: <input type="number" name="quantity" value="Aantal" min=0>
                        <input type="submit" value="Toevoegen">
                    </form>
                </div>
            {% endfor %}
        </div>

        <div class="foodblock">
            <h1>PASTA'S</h1>
            {% for item in pasta %}
                <div class="dish">
                    <h5>{{ item.Name }}</h5>
                        <p>{{ item.Desc }}</p>
                        <p>Prijs: €{{ item.Price }}</p>
                    <form action="{{ menu }}" method="GET">
                        <input type="hidden" name="id" value="{{ item.Id }}">
                        Aantal: <input type="number" name="quantity" value="Aantal" min=0>
                        <input type="submit" value="Toevoegen">
                    </form>
                </div>
            {% endfor %}
        </div>

        <div class="foodblock">
            <h1>DESSERTS</h1>
            {% for item in dessert %}
                <div class="dish">
                    <h5>{{ item.Name }}</h5>
                        <p>{{ item.Desc }}</p>
                        <p>Prijs: €{{ item.Price }}</p>
                        <form action="{{ menu }}" method="GET">
                            <input type="hidden" name="id" value="{{ item.Id }}">
                        Aantal: <input type="number" name="quantity" value="Aantal" min=0>
                        <input type="submit" value="Toevoegen">
                    </form>
                </div>
            {% endfor %}
        </div>

        <div class="foodblock">
            <h1>DRANKEN</h1>
            {% for item in drinks %}
            <div class="dish">
                <h5>{{ item.Name }}</h5>
                    <p>{{ item.Desc }}</p>
                    <p>Prijs: €{{ item.Price }}</p>
                    <form action="{{ menu }}" method="GET">
                        <input type="hidden" name="id" value="{{ item.Id }}">
                    Aantal: <input type="number" name="quantity" value="Aantal" min=0>
                    <input type="submit" value="Toevoegen">
                </form>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="column offset1 col4">
            <h2>UW BESTELLING</h2>
            <table>
                <tr>
                    <th>Naam</th>
                    <th>Maat</th>
                    <th>Hoeveelheid</th>
                    <th>Prijs</th>
                    <th></th>
                </tr>
                {%  for key, item in orderlines %}
                    <tr>
                        <td>{{ item.Name }}</td>
                        <td>
                            {% if item.Size != "N" %}
                                {{ item.size }}
                            {% else %} /
                            {% endif %}</td>
                        <td>{{ item.Quantity }}</td>
                        <td>{{ item.Price }}</td>
                        <td><a href="{{ menu }}?action=del&item={{ key }}">DELETE</a></td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="3">Totaal: </td>
                    <td>€{{ totPrice }}</td>
                </tr>
            </table>
            <form action="{{ menu }}" method="GET">
                <input type="submit" name="action" value="RESET">
                <input type="submit" name="action" value="BESTELLEN">
            </form>
            <form></form>
    </div>
</section>


</body>
</html>