<!doctype html>
<!--resources/views/register.twig-->
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Polito's</title>
    <link rel="stylesheet" href="{{ path('/public/style/css/main.css') }}" type="text/css"/>

</head>
<body>
<header class="container">
    <nav>
        <label for="menu-toggle" id="navlabel"><img src="{{ path("/img/navbar-toggle-dark.svg") }}" alt=""></label>
        <input type="checkbox" id="menu-toggle"/>
        <ul id="menu">
            <li><a href="{{ home }}">HOME</a></li>
            <li><a href="{{ login }}">INLOGGEN</a></li>
            <li class="header_logo"><img src="{{ path("/img/pp_logo_font.svg") }}" alt=""></li>
            <li><a href="{{ menu }}">BESTELLEN</a></li>
            <li><a href="{{ info }}">INFO</a></li>
        </ul>
    </nav>
    <section class="subheader">
        <div></div>
        <div><img id="logo" src="{{ path("/img/pp_logo_font_original.svg") }}" alt=""></div>
        <div></div>
    </section>
</header>


<section id="register" class="container-sm content">
    <div id="register" class="column offset2 col8">
        <h1>Registreren</h1>
        {% for value in RegError %}
            <p>{{ value }}</p>
        {% endfor %}
        <form action="{{ path("/register") }}" method="POST">
            Voornaam: <br/><input type="text" name="firstName" value="{{ firstName }}" placeholder="Uw voornaam" required="required"><br/>
            Familienaam: <br/><input type="text" name="famName" value="{{ famName }}" placeholder="Uw familienaam"><br/>
            Straat: <br/><input class="adresStreet" type="text" name="street" value="{{ street }}" placeholder="Uw straat" required="required"><br/>
            Huisnummer: <br/><input class="short1" type="text" name="number" value="{{ number }}" placeholder="Huisnr" required="required"><br/>
            Postcode: <br/><input class="short2" type="text" name="postCode" value="{{ postCode }}" placeholder="Uw postcode" required="required"><br/>
            Gemeente: <br/><input type="text" name="town" value="{{ town }}" placeholder="Uw gemeente" required="required"><br/>
            Telefoonnummer: <br/><input type="text" name="phoneNr" placeholder="Uw telefoonnummer" value="{{ phoneNr }}"><br/>
            GSM Nummer: <br/><input type="text" name="mobileNr" placeholder="Uw mobiel nummer" value="{{ mobileNr }}"><br/>
            <br/>
            {% for value in LoginErr %}
                <p>{{ value }}</p>
            {% endfor %}
            E-mail: <br/><input type="text" name="email" placeholder="bv. pierre@politospizza.be"><br/>
            Wachtwoord: <br/><input type="password" name="pwd" placeholder="***********"><br/>
            Herhaal wachtwoord: <br/><input type="password" name="pwd2" placeholder="***********"><br/><br/>
            <input type="submit" value="Bevestigen"><br/>
        </form>
    </div>
</section>

<section class="container footer">
    <footer class="footer">
        <p>&#169; Dries Hooghe - Dit is een oefening voor de VDAB opleiding 'PHP Ontwikkelaar'</p>
    </footer>
</section>

</body>
</html>